<div class="row">
    <!-- Column -->
    <div class="col-11 text-right mb-3">
        <a (click)="reviewModal(addreason)" class="d-inline-block p-2 theme_btn">Add Reason</a>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body d-flex">
                <h3 style="width: 80%; margin: 0px;"> Reason 1 </h3>
                <a class="dlt_btn" (click)="deletemodal(deletereason)">
                    <i class="ti-trash"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body d-flex">
                <h3 style="width: 80%; margin: 0px;"> Reason 2 </h3>
                <a class="dlt_btn" (click)="deletemodal(deletereason)">
                    <i class="ti-trash"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body d-flex">
                <h3 style="width: 80%; margin: 0px;"> Reason 3 </h3>
                <a class="dlt_btn" (click)="deletemodal(deletereason)">
                    <i class="ti-trash"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body d-flex">
                <h3 style="width: 80%; margin: 0px;"> Reason 4 </h3>
                <a class="dlt_btn" (click)="deletemodal(deletereason)">
                    <i class="ti-trash"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body d-flex">
                <h3 style="width: 80%; margin: 0px;"> Reason 5 </h3>
                <a class="dlt_btn" (click)="deletemodal(deletereason)">
                    <i class="ti-trash"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body d-flex">
                <h3 style="width: 80%; margin: 0px;"> Reason 6 </h3>
                <a class="dlt_btn" (click)="deletemodal(deletereason)">
                    <i class="ti-trash"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<ng-template #addreason let-modal>
    <div class="modal-header p-2">
        <h4 class="modal-title">Add Reason</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Add Reason</label>
                        <input type="text" placeholder="Reason Name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success"> Save </button>
            </div>
        </div>
    </div>
</ng-template>
<!-- delete modal -->
<ng-template #deletereason let-modal>
    <div class="modal-body">
        <p>Are You Sure want to delete this reason ?</p>
        <div class="btn-group">
            <button type="button" class="btn btn-primary mr-2" aria-label="Close" (click)="modal.dismiss('Cross click')">Yes</button>
            <button type="button" class="btn btn-seconadary" aria-label="Close" (click)="modal.dismiss('Cross click')">No</button>
        </div>
    </div>
</ng-template>
