<div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
  style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
  <div class="auth-box">
    <div>
      <div class="logo">
        <span class="db"><img alt="thumbnail" class="" width="100" src="assets/images/full_logo.svg"></span>
      </div>
      <!-- Form -->
      <div class="row">
        <div class="col-12">
          <form class="form-horizontal m-t-20" action="index.html" (ngSubmit)="f.valid && onPasswordSubmit(f)"
            #f="ngForm" novalidate>
            <div class="form-group row">
              <div class="col-12">
                <input class="form-control form-control-lg" minlength="6" maxlength="25" type="password" required
                  [(ngModel)]="pass.oldPassword" required name="oldPassword" #password="ngModel"
                  placeholder="Old Password" />
              </div>
              <!-- Old Password Validation -->
              <mat-error *ngIf="f.touched && password.invalid ">
                <div style="color:red" class="error d-inline-block pt-1 w-100" *ngIf="password?.errors?.required">
                  *Current password is required
                </div>
              </mat-error>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <input name="newPassword" class="form-control form-control-lg" minlength="8" maxlength="25"
                  [(ngModel)]="pass.newPassword" type="password" required placeholder="New Password"
                  #newPassword="ngModel" />
              </div>
              <!-- New Password Validation -->
              <mat-error *ngIf="f.touched && newPassword.invalid">
                <div style="color:red" class="error d-inline-block pt-1" *ngIf="newPassword?.errors?.required">
                  *New password is required!
                </div>
                <div style="color:red" class="error" *ngIf="newPassword.errors?.minlength">
                  *Password should be of atleast 8 characters!
                </div>
              </mat-error>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <input name="confirmPassword" class="form-control form-control-lg" minlength="8" maxlength="25"
                  [(ngModel)]="pass.cpassword" type="password" required placeholder="Confirm Password"
                  #cpassword="ngModel" />
              </div>
              <!-- Confirm Pass Validation -->
              <mat-error *ngIf="f.touched && cpassword.invalid">
                <div style="color:red" class="error  d-inline-block pt-1" *ngIf="cpassword?.errors?.required">
                  *Confirm password is required!
                </div>
                <div style="color:red" class="error" *ngIf="cpassword.errors?.minlength">
                  *Password should be of atleast 8 characters!
                </div>
              </mat-error>
            </div>
            <div class="form-group text-center">
              <div class="col-xs-12 p-b-20">
                <button class="btn theme_btn w-100" type="submit">Submit</button>
                <a class="btn btn-block btn-lg btn-danger mt-2" (click)='redirect()'>Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
