<!-- <div class="card">
    <div class="card-body">
        <form action="">
      <div class="row">
        <div class="col-md-6">
            <div class="form-group"><label class="control-label">Price Per 30 Min</label><input type="text" id="PricePer" placeholder="PricePer" class="form-control"></div>
        </div>
        <div class="col-md-6">
            <div class="form-group"><label class="control-label">Base Fare</label><input type="text" id="BaseFare" placeholder="Base Fare" class="form-control"></div>
        </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group"><label class="control-label">Minimum Charges</label><input type="text" id="MinimumCharges" placeholder="Minimum Charges" class="form-control"></div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><label class="control-label">Tax</label><input type="text" id="MinimumCharges" placeholder="Minimum Charges" class="form-control"></div>
          </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                 <button class="btn btn-primary">Save</button>
                </div>

                  </div>
        </form>
    </div>
</div> -->
<div class="card">
  <div class="card-body">
    <form action="">
      <div class="icon_outr">

        <div class="row">
          <div class="col-md-2 mb-2 pl-2 pr-2" *ngFor="let item of ArrayImage;let i = index;">
            <div class="icon_inner">
              <button class="btn-cross" (click)="Remove(i,item.id,userDelete)">
                <span>&times;</span>
              </button>
              <img [src]="item.image?item.image:'assets/images/dashed.png'" height="80" width="90" alt="123" />
            </div>
          </div>


          <!-- <div class="col-md-2">
                    <div class="upload-btn-wrapper">
                      <button><img src="assets/images/dashed.png" height="80" width="90"/></button>
                      <input type="file" name="myfile" (change)="uploadGallery($event)"/>
                    </div>
                  </div> -->
          <div class="col-md-2" *ngIf="isUpload">
            <div class="upload-btn-wrapper">
              <div class="ad_icon">
                <span>+</span>
                <input type="file" name="myfile" (change)="uploadGallery($event)" />
              </div>
            </div>
          </div>
        </div>

        <!-- <li *ngFor="let item of ArrayImage:any; index as i">
                    <span class="mdi mdi-food-variant icn"><img [src]="item" alt=""></span>
                </li> -->
        <!-- <li>
                    <span class="mdi mdi-food-apple icn"></span>
                </li>
                <li>
                    <span class="mdi mdi-food icn"></span>
                </li> -->
        <!-- <li class="ad_icn">
                    <span>+</span>
                    <input type="file" multiple (change)="uploadGallery($event)">
                </li> -->
      </div>
      <button class="btn btn-primary" (click)="uploadImage()">
        Save
      </button>
    </form>

    <!-- delete modal -->
    <ng-template #userDelete let-modal>
      <div class="modal-body">
        <p>Are you sure want to delete this event type?</p>
        <div class="btn-group">
          <button type="button" class="btn btn-primary mr-2" aria-label="Close" (click)="delete()">Yes</button>
          <button type="button" class="btn btn-seconadary" aria-label="Close"
            (click)="modal.dismiss('Cross click')">No</button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
