input[type="file"] {
    height: 35px;
    padding: 3px 10px;
}

.cstm_icn .icon_outr {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
}
.cstm_icn .icon_outr::-webkit-scrollbar {
  background: transparent;
  height: 3px;
}
.cstm_icn .icon_outr::-webkit-scrollbar-thumb {
  background: #FF2E42;
  border-radius: 100px;
}
.cstm_icn li {
    position: relative;
    width: 80px;
    height: 80px;
    /* border: solid #000 1px; */
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 15px;
}

.cstm_icn li input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /* opacity: 0; */
  font-size: 0px;
  cursor: pointer;

}

.cstm_icn li img {
  border: solid #000 1px;
  background-color: #d8d8d8;
}

.cstm_icn li img.selected {
    border: solid 2px #FF2E42;
    cursor: default;
}

.cstm_icn .icn {
    font-size: 45px;
}

.imageListing{
  background-color: #d8d8d8;
    display: inline-block;
    border-radius: 5px;
}

.cstm_tbl {
  height: 60vh;
}

