input[type="file"] {
    height: 35px;
    padding: 3px 10px;
}

.cstm_icn .icon_outr {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
}
.cstm_icn .icon_outr::-webkit-scrollbar {
  background: transparent;
  height: 3px;
}
.cstm_icn .icon_outr::-webkit-scrollbar-thumb {
  background: #FF2E42;
  border-radius: 100px;
}
.cstm_icn li {
    position: relative;
    width: 80px;
    height: 80px;
    /* border: solid #000 1px; */
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

.cstm_icn li img {
  border: solid #000 1px;
}

.cstm_icn li img.selected {
    border: solid 2px #FF2E42;
    cursor: default;
}

.cstm_icn .icn {
    font-size: 45px;
}
