<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               <select class="form-control mb-3">
                   <option value="">About </option>
                   <option value="">How it works</option>
                   <option value="">Subscribe newsletter</option>
                   <option value="">Why Choose Us</option>
                   <option value="">Social media</option>                   
               </select>
                <quill-editor [style]="{height: '300px',display: 'inline-block'}"></quill-editor>
                <button class="btn btn-primary mt-3">Save</button>
            </div>
        </div>

    </div>
</div>