
<div class="card">
  <div class="card-body">
 
    <div class="row pt-3">

      <div class="col-md-4">
        <!-- Card -->
        <div class="card">
          <div class="card-body card-box p-2">
            <div class="d-flex align-items-center">
              <div class="">
                <span class="btn btn-circle btn-md bg-danger text-white"><i class=" fas fa-credit-card font-16"></i></span>
              </div>
              <div class="m-l-10">
                <h5 class="mb-0 m-t-10"> Total Payment Received </h5>
                <h2 class="m-b-0 font-light">$ 450</h2>
              </div>
    
            </div>
          </div>
        </div>
    
        <!-- Card -->
      </div>
      <!-- col-md-4 -->        
     
      <!-- col-md-4 -->
      <div class="col-md-4">
        <!-- Card -->
        <div class="card">
          <div class="card-body card-box p-2">
            <div class="d-flex align-items-center">
              <div class="">
                <span class="btn btn-circle btn-md bg-danger text-white"><i
                    class="far fa-money-bill-alt font-16"></i></span>
              </div>
              <div class="m-l-10">
                <h5 class="mb-0 m-t-10"> Total Earning of Vendors</h5>
                <h2 class="m-b-0 font-light"> $ 200</h2>
              </div>
    
            </div>
          </div>
        </div>
    
        <!-- Card -->
      </div>
      <!-- col-md-4 -->
       <!-- col-md-4 -->
     <!--  <div class="col-md-4">
         Card 
         <div class="card">
          <div class="card-body card-box p-2">
            <label>Service Fees</label>
            <div class="input-group">
              <input aria-describedby="basic-addon1" aria-label="" class="form-control" placeholder="" value="10%"
                type="text">
              <div class="input-group-append"><button class="btn mr-0 btn-info" type="button">Submit</button></div>
            </div>
          </div>
        </div>       -->
        <!-- Card -->
        <!-- <form class="d-flex">
          <div class="form-group hidden ">
            <div class="input-group">
              <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2"
                [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!" tabindex="-1">
              <ng-template #t let-date let-focused="focused">
                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null">
                  {{ date.day }}
                </span>
              </ng-template>
            </div>
          </div>
          <div class="form-group col-6 pl-0  pr-0 mb-2">
            <div class="input-group">
              <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                [value]="formatter.format(fromDate)"
                (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()"
                  type="button"><i class=" fas fa-calendar-alt"></i></button>
              </div>
            </div>
          </div>
          <div class="form-group ml-2 col-6 pl-0 pr-0 mb-2">
            <div class="input-group">
              <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                [value]="formatter.format(toDate)"
                (input)="toDate = validateInput(toDate, dpToDate.value)">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()"
                  type="button"><i class=" fas fa-calendar-alt"></i></button>
              </div>
            </div>
          </div>
        </form>
        <div class="d-flex">
          <h5 class="m-b-0 font-light col-6"> <span class="btn btn-circle btn-sm bg-danger text-white p-2"><i
                class="far fa-money-bill-alt font-16 "></i></span> Card: &euro; 150</h5>
          <h5 class="m-b-0 font-light col-6"> <span
              class="btn btn-circle btn-sm bg-danger text-white p-2"><i
                class="far fa-money-bill-alt font-16 "></i></span> Cash: &euro; 150</h5>
        </div>
      </div> -->
      
      <!-- Column -->
      <div class="col-md-12">
        <h3>All Transaction </h3>
      </div>
      <div class="col-lg-12">
        <div class="card">
    
          <div class="card-body">
            <div class="">
              <table class="table v-middle product-overview" id="zero_config">
                <thead>
                  <tr>
    
                    <th>Name</th>
                   <th>Vendor ID</th>
                    <th>Payment Method</th>
                    <th>Amount</th>
                    <th>Fees</th>
                    <!-- <th>Status</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr>
    
                    <td>KFC </td>
                    <td>kfc333</td>
                    <td><label class="label label-success">Paypal</label></td>
                    <td>$250</td>
                    <td>10%</td>
                    <!-- <td> <select class="custom-select b-0">
                        <option selected="">Enable</option>
                        <option value="1">Disable</option>
                      </select></td> -->
                  </tr>
                  <tr>
    
                    <td>Dominos </td>
                    <td>domi333</td>
                    <td><label class="label label-success">Paypal</label></td>
                    <td>$250</td>
                    <td>10%</td>
                    <!-- <td> <select class="custom-select b-0">
                        <option selected="">Enable</option>
                        <option value="1">Disable</option>
                      </select></td> -->
                  </tr>
                  <tr>
    
                    <td>Cafe </td>
                    <td>caf434</td>
                    <td><label class="label label-success">Paypal</label></td>
                    <td>$250</td>
                    <td>10%</td>
                    <!-- <td> <select class="custom-select b-0">
                        <option selected="">Enable</option>
                        <option value="1">Disable</option>
                      </select></td> -->
                  </tr>
    
                </tbody>
              </table>
              <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>

</div>
</div>
<!-- <div class="card">
  <div class="card-body">
    <div class="d-flex align-items-center">
      <h4>Net Profit</h4>
      <div>
                        <span class="btn-circle btn-lg btn btn-outline-secondary">
                            <i class="ti-shopping-cart"></i>
                        </span>
                    </div> 

    

    </div>
    <div class=" text-white">
      <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
      [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
  </canvas>
    </div>
  </div>


</div> -->
