<div class="row">
  <!-- Column -->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body" *ngIf="viewPermission;else noPermission">
        <div class="row">
          <div class="col-md-4">
            <form>
              <div class="mb-2">
                <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="searchitem" (keyup)="search($event)" type="text" class="form-control" id="prenametext" placeholder="Search">
              </div>
            </form>
          </div>
          <div class="col-md-8 text-right">
            <!-- <button class="btn btn-seconadary mb-2" (click)="addreviewModal(addreview)"><i class="sl-icon-plus"></i> Add
              User</button> -->
          </div>
          <div class="table-responsive"  *ngIf="!noDataToggle;else noDataHolder">
            <table class="table v-middle product-overview" id="zero_config">
              <thead>
                <tr>
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Number</th>
                  <!-- <th>Rating</th> -->
                  <th>Comments</th>
                  <th class="text-nowrap">Reported By</th>
                  <th *ngIf="editPermission">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let report of reportData">
                  <td>
                    <img *ngIf="report?.reportedUserId?.image;else alterImageHolder" [src]="report?.reportedUserId?.image" alt="image" width="60" height="60" class="rounded-circle">
                    <ng-template #alterImageHolder>
                      <img  [src]="alterImage" alt="image" width="60" height="60" class="rounded-circle">
                    </ng-template>
                  </td>
                  <td>{{report?.reportedUserId?.userName || "-"}} </td>
                  <td>{{report?.reportedUserId?.dialCode}}-{{report?.reportedUserId?.phoneNo}}</td>
                  <!-- <td>
                                        <p class="text-warning mb-0 text-nowrap"> <i class="fas fa-star "> </i> <i class="fas fa-star"> </i>
                                            <i class="fas fa-star"> </i> <i class="fas fa-star"> </i> </p>
                                    </td> -->
                  <td>{{report?.comments|slice:0:50}} <a href="javascript:void(0)"
                      (click)="reviewModal(review,report?.comments)">{{report?.comments.length>50?'Read More':''}}</a></td>
                  <td> {{report?.userId?.userName || "-"}} </td>
                  <td *ngIf="editPermission">
                    <button class="btn btn-danger" (click)="reviewDeleteModal(reviewDelete,report?._id)">Delete</button>
                  </td>
                </tr>

              </tbody>
            </table>

            <mat-paginator  [length]="totalReports" [pageSize]="page" [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="onPaginateChange($event)"></mat-paginator>
          </div>
          <ng-template #noDataHolder>
            <h3 class="m-5 d-flex align-items-center justify-content-center w-100">No data found</h3>
          </ng-template>
        </div>
      </div>
      <ng-template #noPermission>
        <h2 class="m-5 d-flex align-items-center justify-content-center w-100">You don't have Permission to view this section</h2>
      </ng-template>
    </div>
  </div>
  <!-- Column -->
</div>



<!-- view modal -->
<ng-template #review let-modal>
  <div class="modal-body">
    <button type="button" class=" close-icon" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="mdi mdi-close"></i>
    </button>
    <div class="row">

      <!-- Column -->
      <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card custom-tabs mb-0">
          <div class="card-body">
            <div class="row pt-2">
              <div class="col-md-12">
                <p>
                  {{comment}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
  </div>
</ng-template>
<!-- add review -->
<ng-template #addreview let-modal>
  <div class="modal-body">
    <div class="card">
      <form action="#">
        <div class="form-body">
          <div class="card-body">
            <div class="row p-t-20">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Add Review</label>
                  <textarea class="form-control" placeholder="Message" rows="10"></textarea>

                </div>
              </div>
              <!--/span-->

            </div>
            <!--/row-->


          </div>

          <div class="form-actions">
            <div class="card-body">
              <button type="submit" class="btn btn-success mr-3" (click)="modal.dismiss('Cross click')">
                <i class="fa fa-check"></i> Submit</button>
              <button type="button" class="btn btn-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</ng-template>



<!-- delete modal -->
<ng-template #reviewDelete let-modal>
  <div class="modal-body">
    <p>Are You Sure want to delete this report?</p>
    <div class="btn-group">
      <button type="button" class="btn btn-primary mr-2" aria-label="Close"
        (click)="delete()">Yes</button>
      <button type="button" class="btn btn-seconadary" aria-label="Close"
        (click)="modal.dismiss('Cross click')">No</button>
    </div>
  </div>
</ng-template>
