<div class="col-12">
    <a routerLink="/pages/orderlist" class="btn btn-primary mb-3">Back</a>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <!-- <div class="row">
                    <div class="col-md-4">
                        <label>Booking ID</label>
                    </div>
                    <div class="col-md-8">
                        <span>20</span>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-4">
                        <label>Client</label>
                    </div>
                    <div class="col-md-8">
                        <span>Andy</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Contact</label>
                    </div>
                    <div class="col-md-8">
                        <span>+91-45444544</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label> Address</label>
                    </div>
                    <div class="col-md-8">
                        <span>#455 Sector-15 Noida</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Booking Date</label>
                    </div>
                    <div class="col-md-8">
                        <span>27-02-2021/12:20:45</span>
                    </div>
                </div>
            </div>
            <!-- end-col-md-4 -->
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label>Status</label>
                    </div>
                    <div class="col-md-8">
                        <span>Cancelled</span>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-4">
                        <label>Active</label>
                    </div>
                    <div class="col-md-8">
                        <span class="label label-success">Yes</span>
                    </div>
                </div> -->
                <!-- <div class="row">
                    <div class="col-md-4">
                        <label>Method</label>
                    </div>
                    <div class="col-md-8">
                        <span>Paypal</span>
                    </div>
                </div> -->
                <!-- <div class="row">
                <div class="col-md-4">
                  <label>Payment Status</label>
                </div>
                <div class="col-md-8">
                  <span>Waitning for Client</span>
                </div>
              </div> -->
                <div class="row">
                    <div class="col-md-4">
                        <label>Event Date</label>
                    </div>
                    <div class="col-md-8">
                        <span>27-02-2021/12:20:45</span>
                    </div>
                </div>
            </div>
            <!-- end-col-md-4 -->
        </div>
        <div class="table-reponsive">
            <table class="table">
                <tr>
                    <th>Booking Type </th>
                    <th>Date</th>
                    <th>Number Of People</th>
                    <th>Amount</th>
                </tr>
                <tr>
                    <td>Garden Cleaning</td>
                    <td>12-05-2021/8:00PM</td>
                    <td class="text-nowrap">4</td>
                    <td>$500</td>
                </tr>
                <tr>
                    <td class="text-nowrap" colspan="3"></td>
                    <td>
                        <div class="table-repsonsive">
                            <table class="table">
                                <tr>
                                    <td><label>Subtotal</label></td>
                                    <td><label>$500</label></td>
                                </tr>
                                <!-- <tr>
                                    <td><label>Delivery Fee</label></td>
                                    <td><label>$0.00</label></td>
                                </tr> -->
                                <tr>
                                    <td><label>Tax(10%)</label></td>
                                    <td><label>$29.70</label></td>
                                </tr>
                                <tr>
                                    <td><label>Total</label></td>
                                    <td><label>$529.70</label></td>
                                </tr>
                            </table>
                        </div>
                    </td>


                </tr>

            </table>
        </div>
    </div>
</div>
<!-- Column -->
