    .logo-svg {
        width: 40px;
        height: 40px;
        margin: 10px 0px;
        //     margin-right: 5px;
        //     .st0{fill:#FBB03B;
        // }
    }

    .logo-content {
        width: 90px;
    }
