/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* .btn-outline-primary {
    color: #FF2E42 !important;
} */

.btn-outline-primary:hover {
    color: #FFF !important;
}

.theme_btn {
    border: solid 1px #FF2E42 !important;
    color: #FF2E42 !important;
    background: none;
    padding: 10px 10px !important;
}

.cstm_tab {
    margin-bottom: 20px !important;
    border-bottom: 0px !important;
}

.cstm_tab .nav-link {
    border: 0px solid transparent !important;
    color: #000 !important;
    font-weight: 500;
}

.cstm_tab .nav-link:hover {
    border: 0px solid transparent !important;
    color: #000 !important;
}

.cstm_tab .nav-link.active {
    border: 0px solid transparent !important;
    border-bottom: 2px solid #FF2E42 !important;
    color: #FF2E42 !important;
}

.slct_icn {
    height: auto;
}

.slct_icn .mat-option-text span {
    font-size: 30px;
    border: solid #000 1px;
}
